[package]
name = "prose-core-client"
version = "0.1.0"
description = "Prose core XMPP client manager and protocols."
readme = "README.md"
license = "MPL-2.0"
edition = "2021"
homepage = "https://github.com/prose-im/prose-core-client"
repository = "https://github.com/prose-im/prose-core-client.git"
keywords = ["xmpp", "xmpp-client", "library"]
categories = ["network-programming"]
authors = ["Valerian Saliou <valerian@valeriansaliou.name>"]

[dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
base64 = { workspace = true }
indexmap = "2.0.0"
jid = { workspace = true, features = ["serde"] }
minidom = { workspace = true }
parking_lot = { workspace = true }
prose-store = { path = "../prose-store", features = ["chrono", "jid"] }
prose-wasm-utils = { path = "../prose-wasm-utils" }
prose-xmpp = { path = "../prose-xmpp" }
serde = { workspace = true, features = ["derive"] }
sha1 = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
url = { workspace = true, features = ["serde"] }
uuid = { workspace = true }
xmpp-parsers = { workspace = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
chrono = { workspace = true, features = ["serde"] }
either = { version = "1.8" }
image = {version = "0.24.5" }
serde_json = { workspace = true }
tempfile = { workspace = true }
# Test
auto_impl = { version = "1.1.0", optional = true }
insta = { workspace = true, features = ["json"], optional = true }
tokio = { workspace = true, optional = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
auto_impl = { version = "1.1.0" }
chrono = { workspace = true, features = ["serde"] }

[build-dependencies]
uniffi = { workspace = true, features = ["build"] }

[features]
default = []
test = ["prose-xmpp/test", "dep:auto_impl", "dep:tokio", "tokio/macros", "dep:auto_impl", "dep:insta"]
debug = []