[bindings.swift]
cdylib_name = "prose-sdk-ffi"
module_name = "prose_sdk_ffi"

[bindings.swift.custom_types.PathBuf]
type_name = "URL"
imports = ["Foundation"]
into_custom = "URL(fileURLWithPath: {})"
from_custom = "{}.path"

[bindings.swift.custom_types.Url]
type_name = "URL"
imports = ["Foundation"]
into_custom = "URL(string: {})!"
from_custom = "{}.absoluteString"

[bindings.swift.custom_types.DateTime]
type_name = "Date"
imports = ["Foundation"]
into_custom = "Date(timeIntervalSince1970: TimeInterval({}) / 1_000)"
from_custom = "Int64({}.timeIntervalSince1970 * 1_000)"

[bindings.swift.custom_types.HexColor]
type_name = "UIColor"
imports = ["UIKit"]
into_custom = "UIColor(prose_hex: {})!"
from_custom = "\"unimplemented\""

[bindings.swift.custom_types.FFIUserId]
type_name = "UserId"
into_custom = "UserId(unsafe: {})"
from_custom = "{}.rawValue"

[bindings.swift.custom_types.FFIMucId]
type_name = "MucId"
into_custom = "MucId(unsafe: {})"
from_custom = "{}.rawValue"